
<article class="product">
  <a href="{{ product.url | within: collection }}">
    <div class="product__images">
      {% for image in product.images limit: 1 %}
      {% include 'picture', image: image %}
      {% endfor %}
    </div>

    <h2>{{ product.title }} <small>{% for variant in product.variants %}{{ variant.weight | weight_with_unit }}{% unless forloop.last %} – {% endunless %}{% endfor %}</small></h2>
  </a>

  <div class="product__description max_width">
    {{ product.description }}
  </div>
    
  <div class="grid grid--guttered grid--middle">
    <div class="col"><h3>{% include 'product-price', variant: product %}</h3></div>
    <div class="col" data-add-to-cart data-product='{{ product.selected_or_first_available_variant.id }}'></div>
  </div>
</article>
