<div class="text_center max_width max_width--center">
  <h1 class="h1--massive">{{ article.title }}</h1>

  {% if section.settings.blog_show_author %}
    <strong>{{ 'blogs.article.by_author' | t: author: article.author }}</strong>
  {% endif %}

  {% if section.settings.blog_show_date %}
    <em>{{ article.published_at | time_tag: format: 'month_day_year' }}</em>
  {% endif %}
</div>

<div class="padded medium_top medium_bottom full_images">
  {% if article.image %}
  {% include 'picture', image: article.image, crop: 0.42 %}
  {% endif %}
</div>

<div class="padded max_width max_width--center">
  {{ article.content }}
</div>

{% if section.settings.show_share_buttons %}
  {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
{% endif %}

<div class="padded medium_top">
  <h2 class="text_center"><a href="{{ blog.url }}">More {{ blog.title }} ↓</a></h2>
</div>



{% schema %}
{
  "name": {
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "pt-BR": "Posts"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "pt-BR": "Exibir autor(a)"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "pt-BR": "Exibir data"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": false
    }
  ]
}
{% endschema %}
