<div class="padded" data-section-id="{{ section.id }}" data-section-type="cart-template">

  <h1 class="text_center">Your Cart<br>あなたのカート</h1>

  <div class="grid grid--tight_guttered grid--center">

    <div class="col col--8of12 col--tablet_portrait--12of12">
      {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate class="grid grid--tight_guttered grid--middle">
        {% for item in cart.items %}
        <div class='col col--2of12'>
          <a href="{{ item.url }}">{% include 'picture', image: item.image %}</a>
        </div>
        <div class='col col--7of12'>
          {{ item.quantity }}x <strong>{{ item.title }}</strong>
        </div>
        <div class='col col--2of12'>
          {{ item.line_price | money }}
        </div>
        <div class='col col--1of12 text_right'>
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"  class='button button--transparent'>✕</a>
        </div>
        <div class="col col--12of12"></div>
        {% endfor %}
      </form>
      {% else %}
      <div class="medium text_center padded">
        {{ 'cart.general.empty' | t }}
      </div>
      {% endif %}
    </div>

    <div class="col col--12of12"></div>

    <div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
      <a href='/' class='button button--white button--corner slight'>Continue Shopping ↗</a>
    </div>
    <div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
      <a href='/checkout' class='button button--corner slight'  data-turbolinks="false">Proceed to Checkout ↗</a>
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página de carrito",
    "fr": "Page du panier",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "pt-BR": "Página do carrinho"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "de": "Warenkorb-Notifikationen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas de carrito",
        "fr": "Activer les notes de panier",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "pt-BR": "Ativar observações sobre o carrinho"
      },
      "default": true
    }
  ]
}
{% endschema %}
