
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <footer class="grid grid--guttered grid--spaced" role="contentinfo">
    <div class="col col--4of12">
      <h6>{{ section.settings.title }}</h6>
      {{ section.settings.body }}
      <small>{{ section.settings.copyright }}</small>
    </div>

    <div class="col">
      <h6>{{ section.settings.footer_linklist_title }}</h6>
      {% for link in linklists[section.settings.footer_linklist].links %}
      <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a><br>
      {% endfor %}
    </div>
    <div class="col">
      <h6>{{ section.settings.footer_linklist_two_title }}</h6>
      {% for link in linklists[section.settings.footer_linklist_two].links %}
      <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a><br>
      {% endfor %}
    </div>

    <div class="col col--3of12 col--tablet_portrait--12of12 text_right">
      <h6>{{ section.settings.social_title }}</h6>

      <div class="grid grid--right grid--guttered">
        {% if settings.social_facebook_link != blank %}
        <div class="col"><a href="{{ settings.social_facebook_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-facebook' %}
          <span class="hide">Facebook</span>
        </a></div>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
        <div class="col"><a href="{{ settings.social_twitter_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-twitter' %}
          <span class="hide">Twitter</span>
        </a></div>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
        <div class="col"><a href="{{ settings.social_pinterest_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-pinterest' %}
          <span class="hide">Pinterest</span>
        </a></div>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
        <div class="col"><a href="{{ settings.social_instagram_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-instagram' %}
          <span class="hide">Instagram</span>
        </a></div>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
        <div class="col"><a href="{{ settings.social_tumblr_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-tumblr' %}
          <span class="hide">Tumblr</span>
        </a></div>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
        <div class="col"><a href="{{ settings.social_snapchat_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-snapchat' %}
          <span class="hide">Snapchat</span>
        </a></div>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
        <div class="col"><a href="{{ settings.social_youtube_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-youtube' %}
          <span class="hide">YouTube</span>
        </a></div>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
        <div class="col"><a href="{{ settings.social_vimeo_link | escape }}" aria-describedby="a11y-external-message">
          {% include 'svg-vimeo' %}
          <span class="hide">Vimeo</span>
        </a></div>
        {% endif %}
      </div>
    </div>

  </footer>
</div>


{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Nodoka"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body",
      "default": "<p>Nodoka provides high quality organic Japanese green tea directly from Japan's premier organic tea farms.</p>"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright",
      "default": "© 2018 NODOKA. ALL RIGHT RESERVED."
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "First menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "First menu title",
      "default": "Sitemap"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_two",
      "label": "Second menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "footer_linklist_two_title",
      "label": "Second menu title",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social title",
      "default": "Connect"
    }
  ]
}
{% endschema %}
