<article class="padded"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'col--4of12 col--tablet_portrait--10of12 col--phone--12of12' -%}
      {%- assign product_description_width = 'col--5of12 col--tablet--portrait--8of12 col--phone--12of12' -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'col--5of12 col--tablet_portrait--10of12 col--phone--12of12' -%}
      {%- assign product_description_width = 'col--4of12 col--tablet--portrait--8of12 col--phone--12of12' -%}
    {% when 'large' %}
      {%- assign product_image_width = 'col--7of12 col--tablet_portrait--10of12 col--phone--12of12' -%}
      {%- assign product_description_width = 'col--4of12 col--tablet--portrait--8of12 col--phone--12of12' -%}
    {% when 'full' %}
      {%- assign product_image_width = 'col--9of12 col--tablet_portrait--10of12 col--phone--12of12' -%}
      {%- assign product_description_width = 'col--6of12 col--tablet--portrait--8of12 col--phone--12of12' -%}
  {% endcase %}

  <div class="grid grid--center grid--thick_guttered">
    <div class="col col--12of12">
      <h1 class="h1--massive medium_bottom text_center">{{ product.title }}</h1>
    </div>
    <div class="col {{ product_image_width }}">
      {% for image in product.images %}
      <div class="normal_bottom">{% include 'picture', image: image %}</div>
      {% endfor %}
    </div>
    <div class="col {{ product_description_width }}">
      <div class="product__content">
        <h3>{% include 'product-price' %}</h3>
        {%- assign description_paragraphs = product.description | split: '<p>~</p>' -%}
        {{ description_paragraphs[0] }}

        <div id="add_to_cart" data-product='{{ current_variant.id }}' data-with-quantity>
        </div>

        <hr>

        {%- for paragraph in description_paragraphs -%}
        {%- unless forloop.first -%}
        {{ paragraph }}
        {%- endunless -%}
        {%- endfor -%}
        
      </div>
    </div>
  </div>
</article>


<div class="padded medium_top">
  <h2 class="text_center"><a href="{{ collection.url }}">More {{ product.type }}s ↓</a></h2>
</div>


{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}



{% schema %}
{
  "name": {
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "pt-BR": "Páginas de produtos"
  },
  "settings": [
    {
      "type": "select",
      "id": "image_size",
      "label": {
        "de": "Foto-Größe",
        "en": "Image size",
        "es": "Tamaño de la imagen",
        "fr": "Taille des images",
        "it": "Dimensione immagine",
        "ja": "画像のサイズ",
        "pt-BR": "Tamanho da imagem"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "pt-BR": "Pequeno"
          }
        },
        {
          "value": "medium",
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "pt-BR": "Médio"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "pt-BR": "Grande"
          }
        },
        {
          "value": "full",
          "label": {
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "pt-BR": "Largura completa"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "de": "Quantitäts-Auswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "pt-BR": "Exibir seletor de quantidade"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "de": "Varianten-Etiketten anzeigen",
        "en": "Show variant labels",
        "es": "Mostrar etiquetas de variantes",
        "fr": "Afficher le nom des variantes",
        "it": "Mostra etichette varianti",
        "ja": "バリエーションのラベルを表示する",
        "pt-BR": "Exibir etiquetas de variantes"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "pt-BR": "Exibir fornecedor"
      },
      "default": false
    }
  ]
}
{% endschema %}
